<div class=" pt-20 pb-10 mt-20 bg-[#ecedef]" >
<div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-6 gap-8">
  <div class="md:col-span-2">
    <h3 class="text-[20px] font-bold text-gray-900 tracking-wider mb-4"> <%= iscriviti %> </h3>
    <p class="text-gray-500 text-sm mb-4"><%= sconto %></p>
    <div class="flex rounded-md shadow-sm w-full">
      <input type="email" class="appearance-none block w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="<%= iscriviti %>">
      <button type="button" class="bg-gray-800 hover:bg-gray-900 text-white font-medium rounded-r-md px-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
  
  <div class="hidden md:flex md:flex-col">
    <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4"><%= assistenza %></h3>
    <ul class="text-gray-500 text-sm space-y-2">
      <li><a href="#" class="hover:text-gray-900"><%=  %></a></li>
      <li><a href="#" class="hover:text-gray-900"><%=  %></a></li>
      <li><a href="#" class="hover:text-gray-900"><%=  %></a></li>
      <li><a href="#" class="hover:text-gray-900"><%=  %></a></li>
      <li><a href="#" class="hover:text-gray-900"><%=  %></a></li>
      <li><a href="#" class="hover:text-gray-900"><%=  %></a></li>
      <li><a href="#" class="hover:text-gray-900"><%=  %></a></li>
      <li><a href="#" class="hover:text-gray-900"><%=  %></a></li>
      <li><a href="#" class="hover:text-gray-900">Sicurezza prodotto</a></li>
      <li><a href="#" class="hover:text-gray-900">Avvisi e richiami prodotto</a></li>
    </ul>
  </div>

  <div class="hidden md:flex md:flex-col">
    <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4">Contatti</h3>
    <ul class="text-gray-500 text-sm space-y-2">
      <li><a href="#" class="hover:text-gray-900">Via in Selci, 55</a></li>
      <li><a href="#" class="hover:text-gray-900">00184 – Roma</a></li>
      <li><a href="#" class="hover:text-gray-900">+39 06 4824279</a></li>
    </ul>
  </div>

  <div class="hidden md:flex md:flex-col">
    <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4">Progetti</h3>
    <ul class="text-gray-500 text-sm space-y-2">
      <li><a href="#" class="hover:text-gray-900">[RBN] Casa Urbana</a></li>
      <li><a href="#" class="hover:text-gray-900">Great Land, Allestimento Maxxi Architettura</a></li>
      <li><a href="#" class="hover:text-gray-900">Uffici Quattro Fontane</a></li>
      <li><a href="#" class="hover:text-gray-900">[DLM] Casa Euforia</a></li>
      <li><a href="#" class="hover:text-gray-900">Franca e Allegra</a></li>
      <li><a href="#" class="hover:text-gray-900">[VLF] Casa Rapsodia</a></li>
    </ul>
  </div>

   <div class="hidden md:flex md:flex-col">
    <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4">Team</h3>
    <ul class="text-gray-500 text-sm space-y-2">
      <li><a href="#" class="hover:text-gray-900">Giorgio Marchese</a></li>
      <li><a href="#" class="hover:text-gray-900">Arianna Nobile</a></li>
      <li><a href="#" class="hover:text-gray-900">Silvia Firmani</a></li>
      <li><a href="#" class="hover:text-gray-900">Mary Justine Del Rosario</a></li>
      <li><a href="#" class="hover:text-gray-900">Francesca De Carlo</a></li>
      <li><a href="#" class="hover:text-gray-900">Laura Abballe</a></li>
      <li><a href="#" class="hover:text-gray-900">Alessandra Orzali</a></li>
    </ul>
  </div>

</div>
</div>