<div class="max-w-[97%] flex flex-col items-center">
<div class="flex flex-row justify-center-auto md:w-full w-[300px] bg-white bg-cover bg-center pt-10 ">
    <div class="flex flex-col md:flex-row w-full h-auto bg-white bg-no-repeat bg-cover">
        <img  src="https://puntozeroarchitetti.com/wp-content/uploads/2023/10/PZ_Villa-a-San-Felice-Circeo_Facciata-principale-villla-con-giardino-in-cantiere-.jpg"  class="flex md:ml-10 items-center md:w-1/2 w-[300px] h-[300px] md:h-auto rounded-2xl"/>
        <div class=" flex flex-col justify-center space-y-6 py-20 items-center md:w-1/2 ">

            <div class="flex flex-col w-full p-6 h-auto m-3 space-y-2 md:space-y-3 md:m-0 md:p-12 md:items-center md:w-[1000px]">
                <p class="md:text-center md:text-4xl text-lg font-semibold text-black md:w-[650px]" ><%= titolo %></p>
                <p class="md:text-center md:text-lg text-lg text-black md:w-[650px] w-full" ><%= descrizione %></p>
            </div>

        </div>
    </div>
        
</div>

<div class="flex flex-row justify-center-auto md:w-full w-[300px] bg-white bg-cover bg-center pt-10 ">
    <div class="flex flex-col md:flex-row md:w-1/2 h-auto bg-white bg-no-repeat bg-cover">
    <img  src="https://puntozeroarchitetti.com/wp-content/uploads/2023/01/PZ_Casa-Ermete_cucina-con-isola-e-cappa-a-soffitto-in-acciaio-pensile-rosso-e-scritta-neon-a-parete-2048x1365.jpg"  class="md:hidden flex md:mr-10 items-center md:w-1/2 w-[300px] h-[300px] md:h-auto rounded-2xl"/>   
        <div class=" flex flex-col justify-center space-y-6 py-20 items-center w-full ">

            <div class="flex flex-col p-6 h-auto m-3 space-y-5 md:space-y-3 md:m-0 md:p-12 md:items-center md:w-[1000px]">
                <p class="md:text-center md:text-4xl text-lg font-semibold text-black md:w-[650px]" ><%= titolo_1 %></p>
                <p class="md:text-center md:text-lg text-lg text-black md:w-[650px]" ><%= descrizione_1 %></p>
            </div>

        </div>
    </div>
     <img  src="https://puntozeroarchitetti.com/wp-content/uploads/2023/01/PZ_Casa-Ermete_cucina-con-isola-e-cappa-a-soffitto-in-acciaio-pensile-rosso-e-scritta-neon-a-parete-2048x1365.jpg"  class="hidden md:flex md:mr-10 items-center md:w-1/2 w-[300px] h-[300px] md:h-auto rounded-2xl"/>
        
</div>

<div class="flex flex-row justify-center-auto md:w-full w-[300px] bg-white bg-cover bg-center pt-10 ">
    <div class="flex flex-col md:flex-row w-full h-auto bg-white bg-no-repeat bg-cover">
        <img  src="https://puntozeroarchitetti.com/wp-content/uploads/2023/09/PZ_Franca-e-Allegra_Gruppo-ravvicinato-di-4-tavoli-colorati-nella-falegnameria.jpg"  class="flex md:ml-10 items-center md:w-1/2 w-[300px] h-[300px] md:h-auto rounded-2xl"/>
        <div class=" flex flex-col justify-center space-y-6 py-20 items-center md:w-1/2 ">

            <div class="flex flex-col w-full p-6 h-auto m-3 space-y-5 md:space-y-3 md:m-0  md:items-center md:w-[1000px]">
                <p class="md:text-center md:text-4xl text-lg font-semibold text-black md:w-[650px]" ><%= titolo_2 %></p>
                <p class="md:text-center md:text-lg text-lg text-black md:w-[650px]" ><%= descrizione_2 %></p>
            </div>

        </div>
    </div>
        
</div>


</div>