<%=
    render partial: "navbar",
    locals: {
          immagine:"https://cdn.sanity.io/images/c9kbt96b/production/e44dcfd4f05c83708af0a423371323244a621b07-2000x1000.jpg?rect=134,0,1866,1000&w=1920&q=75&fit=clip&auto=format",
          menu_1:"Progetti",
          menu_2:"Servizi",
          menu_3:"Team",
          descrizione:"Punto Zero è uno studio di architettura che offre servizi di progettazione architettonica, interior design e ristrutturazioni.",
          titolo:"Punto Zero Architettura",
    }
%>

<%=
    render partial: "chi_siamo",
    locals: {
        titolo: 'STUDIO DI ARCHITETTURA E DESIGN',
        descrizione: 'Punto Zero è uno studio romano con progetti in tutta Italia. Lo studio concepisce l\'architettura e il design come una ricerca etica, estetica e pratica volta a portare felicità. Ogni progetto, sia esso uno spazio o un oggetto, è incentrato sulle persone, il vero "punto zero" da cui tutto viene concepito, in equilibrio tra arte, psicologia e implacabile perfezionismo.',
        caption: '',

    }
%>

<%= render partial: "card",
    locals: {
        carditems: @carditems
    }
%>

<div class=" flex flex-col md:items-center space-y-6 py-20 items-center">
    <div class="flex flex-col p-6 h-50 m-3 space-y-5 bg-white rounded-2xl w-full md:w-1/2 md:space-y-3 md:m-0 md:p-12 md:items-center ">
        <p class="md:text-center md:text-3xl text-2xl font-bold" >« Senza le persone non esiste progetto, non esiste architettura, non esiste design. Sono loro il nostro Punto Zero »</p>
    </div>
</div>

<%=
    render partial: "team",
    locals: {
        descrizione: "Giorgio Marchese",
        descrizione_1:"Arianna Nobile",
        descrizione_2:"Silvia Firmani",
    }
%>

<%= render partial: 'footer',
      locals:{
        iscriviti:"Iscriviti alla newsletter",
        sconto:"Per te il 15% di sconto sul primo acquisto",
        newsletter:"Iscriviti alla newsletter",
        assistenza:"Assistenza",
        informazioni:"Informazioni su",  
    }
%>